source :rubygems
source 'http://gems.github.com'

group :development do
  gem 'foreman'
  gem 'heroku'
  gem 'vulcan'
  gem 'ruby-debug19'
  gem 'capistrano'
  gem 'capistrano-ext'
  gem 'vagrant', '>=0.9'
end
