!!! 5
html(lang='en', manifest='subwars.appcache')
  head
    title SubWars
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
    link(rel='apple-touch-icon-precomposed', href='img/icons/apple-touch-icon-precomposed.png')
    link(rel='apple-touch-icon', href='img/icons/apple-touch-icon.png')
    link(rel='apple-touch-startup-image', href='img/startup.png')

    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    link(href='js/jquery-ui-1.8.16/jquery-ui-1.8.16.css', rel='stylesheet')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='amber/js/lib/CodeMirror/codemirror.css', rel='stylesheet')
    link(href='amber/js/lib/CodeMirror/amber.css', rel='stylesheet')
    link(href='amber/css/amber.css', rel='stylesheet')
    link(href='less/subwars.less', media='all', rel='stylesheet/less')
    script(src='js/less-1.1.3.min.js')
  body
    #includes
      script(src='js/jquery-1.7.min.js')
      script(src='js/client.js')
      script
        function toggleAmberIDE() {
          if ($('#jtalk').length == 0) {
            smalltalk.Browser._open();
          } else if ($('#jtalk').is(':visible')) {
            smalltalk.TabManager._current()._close();
          } else {
            smalltalk.TabManager._current()._open();
          }
          return false;
        }
