<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subwars</title>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <link rel="shortcut icon" href="favicon.ico">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="bower_components/bootstrap/assets/js/html5shiv.js"></script>
    <script src="bower_components/bootstrap/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>

    <div id="includes">
      <script src="bower_components/jquery/jquery.js"></script>
      <script src="bower_components/amber/js/amber.js"></script>
      <script src="js/main.js"></script>
    </div>

  </body>
</html>
